/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-card {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px;
  width: 80%;
  max-width: 606px;
}

@media screen and (min-width: 768px) {
  .feedback-card {
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .feedback-card {
    padding: 64px;
  }
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}

.emojis-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin-top: 30px;
}

.emoji-btn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.emoji {
  width: 45px;
  height: 45px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .emoji {
    width: 70px;
    height: 70px;
  }
}

.emoji-name {
  font-size: 14px;
  font-family: 'Roboto';
  color: #1e293b;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .emoji-name {
    font-size: 15px;
  }
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love-emoji {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .love-emoji {
    width: 80px;
    height: 75px;
  }
}

.thank-message {
  color: #0f172a;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .thank-message {
    font-size: 32px;
  }
}

.paragraph {
  color: #1e293b;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 20px;
  }
}
